.recipe_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.recipe_card{
    background-color: #f4e7cb;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.recipe_card h4{
    color: #1B6D24;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.recipe_card h5{
    color: #1B6D24;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}