{% extends 'base.html' %}

{% block head %}

    <title>Homepage</title>
    <link rel="stylesheet" href="../static/CSS/addrecipe.css">

{% endblock %}




{% block main_body %}

    <!--
        just a container to hold all the input boxes
        ex title, ingredients and more
    -->
    <div class="whole_input_page">
        <form action="/" method="POST">
            <div class="title_container">
                <h2>Title</h2>
                <input type="text" name="title" id="title" placeholder="Title" size="20">
            </div>

            <div class="description">
                <h2>Description</h2>
                <input type="text" name="description" id="description" placeholder="Description of your creation" size="50">
            </div>

            <div class="ingredient">
                <h2>Ingredients</h2>
                <input type="text" name="ingredient" id="ingredient" placeholder="Ingredients" size="50">
            </div>

            <div class="steps">
                <h2>Steps</h2>
                <input type="text" name="steps" id="steps" placeholder="Step1" size="30">
            </div>

            <input type="submit" value="Submit recipe">

            {% for recipe in recipies %}
                <p>{{ recipe.recipe_titel }}</p>
            {% endfor %}

        </form>
    </div>


    <script src="../static/JS/addrecipe.js"></script>
    <script src="../static/JS/topbar.js"></script>

{% endblock %}