{% extends 'base.html' %}

{% block head %}

    <title>Modify recipe # {{recipe.id}}</title>
    <link rel="stylesheet" href="../static/CSS/modify.css">
    <link rel="stylesheet" href="../static/CSS/tags.css">

{% endblock %}

{% block main_body %}

    <div class="whole_input_page">
        <form action="/modify" method="POST" enctype=multipart/form-data id="main_form">

            <h2>Title</h2>
            <input type="text" name="title" id="title" value="{{recipe.recipe_title}}" size="20">
            
            <h2>Image</h2>
            <input type=file name=file>

            <div class="tag_select">
                <h2>Tags:</h2>
                {% for cat in cats %}
                    <div class="dropdown">
                        <div class="rem_tag">
                            <input type="button" value="{{cat.category}}: {% for tag in recipe.tags %}{% if tag.tag.category == cat.category %}{{tag.tag.unit}}{% endif %}{% endfor %}" placeholder="{{cat.category}}">
                            <p>x</p>
                        </div>
                        <input type="hidden" value="{{cat.category}}: {% for tag in recipe.tags %}{% if tag.tag.category == cat.category %}{{tag.tag.unit}}{% endif %}{% endfor %}" placeholder="{{cat.category}}" name="tag[]">
                        <div class="tag_content">
                            <ul>
                            {% for tag in tags2d %}
                                {% if tag.category == cat.category %}
                                    <li>
                                        {{tag.unit}}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <h2>Description</h2>
            <input type="text" value="{{recipe.description}}" size="50" name="description">

            <h3>Portions</h3>
            <div class="portion_control" style="-webkit-user-select: none; user-select: none;">
                <p id="minus">&minus;</p>
                    <input type="number" name="portions" placeholder="Portions" id="portions" min="1" max="16" value="{{recipe.portions}}">
                <p id="plus">&plus;</p>
            </div>

            <div class="ingredient">
                <h2>Ingredients</h2>
                <input type="button" placeholder="Add ingredient" id="add_ingr_btn" value="Add ingredient">
                <div id="ingredient_location">
                    {%if recipe.ingredients|length > 0%}
                        {%for ingredient in recipe.ingredients%}
                            <div class="ingredient_div" id="ingredient_div">
                                <input type="text" value="{{ingredient.name}}" placeholder="Ingredient" name="ingredients[]" class="input_name">
                                <input type="text" value="{{ingredient.amount}}" placeholder="Amount" name="amount[]" class="input_amount">
                                <input type="text" value="{{ingredient.unit}}" placeholder="Unit" name="unit[]" class="input_unit">
                                <p class="minus_ingredient">&minus;</p>
                            </div>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>

            <div class="step">
                <h2>Steps</h2>
                <input type="button" id="add_step_btn" placeholder="Add step" value="Add step">
                <div id="step_location">
                    {%if recipe.steps|length > 0%}
                        {%for step in recipe.steps%}
                            <div class="steps">
                                <input type="text" name="step[]" value="{{step.name}}" class="input_step">
                                <p class="minus_step">&minus;</p>
                            </div>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>

            <div class="private">
                {% if recipe.private == True %}
                    <input type="checkbox" placeholder="Private" value="yes" name="private" checked >
                {% else %}
                    <input type="checkbox" placeholder="Private" value="yes" name="private">
                {% endif %}
                <p>Private</p>
            </div>


            <div class="submit_delete">
                <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                <input type="submit" id="submit_recipe" value="Submit">

                {% if recipe.user.id == session.get('id') %}
                <input type="submit" id="delete_recipe" value="DELETE RECIPE" formaction="/delete" formmethod="POST">
                {% endif %}
            </div>
        </form>

        
        <script src="../static/JS/modify.js"></script>
        <script src="../static/JS/tags.js"></script>
    </div>
{% endblock %}