{% extends 'base.html' %}

{% block head %}
<!-- Header stuff -->

    <title>Your Profile</title>
    <link rel="stylesheet" href="../static/CSS/userpage.css">

{% endblock %}

{% block main_body %}
<!-- Mmmm, curves :33 -->
        <div class="userpage">
            <div class="border">
                {% if session.get('username') is not none %}
                <form actions="/user" method="post">
                    <div class="userpage">
                        <h2>{{session.get('username')}}'s Profile page</h2>
                    </div>
                </form>
                {% else %}
                <form action="/login" method="get">
                    <h2>You must be logged in to view your account!</h2>
                    <input type="submit" value="Login">
                </form>
                <form action="/register" method="get">
                    <h2>Don't have an account?</h2>
                    <input type="submit" value="Register">
                </form>
                {% endif %}
            </div>
        </div>
        
        <script src="../static/JS/userpage.js"></script>
{% endblock %}